blockquote {
  border-left: 4px solid #ccc;
  margin: 0;
  padding: 0 15px;
  quotes: "\201C""\201D""\2018""\2019";

  footer {
    color: #868484;
    font-size: 0.9em;
    margin-top: 1em;
    
    cite {
        font-style: normal;
        font-weight: bold;
        font-style: italic;
    }

    &:before {
        content: "\2014\00A0";
    }
  }
}

a {
    color: #cacaca;
    text-decoration: underline;
    transition: color 0.15s ease-in-out;
    
    &:hover {
        color: #666;
    }

    &.anchor-primary {
        color: #8ec5db;
        text-decoration: underline;
        
        &:hover {
            color: #b6e5f8;
        }
    }
    &.anchor-secondary {
        color: #7f7c7c;
        text-decoration: underline;
        
        &:hover {
            color: #666;
        }
    }
    &.anchor-tertiary {
        color: #dbdbdb;
        text-decoration: underline;
        
        &:hover {
            color: #c2c2c2;
        }
    }
}

.font-size-1 {
    font-size: 13px;
}
.font-size-2 {
    font-size: 16px;
}
.font-size-3 {
    font-size: 18px;
}